$green: #00eb5e;
$light-green: #c7fcca;
$white: #ffffff;
$navy: rgb(34, 28, 70);
$yellow: #fdde35;
$light-yellow: #fdeec1;
$salmon: #fff2d9;
$blue: #1b51dc;
$light-blue: #dcf4fa;
$light-red: #fadddb;
$gray: #d3d2da;
