*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: "Mulish", sans-serif;
  font-family: "Jura", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
  position: relative;
}

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.header__image {
  background-image: url("/img/header_bottom_big.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.header__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.header__textWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.header__titleWrapper {
  display: flex;
}
.header__subtitleWrapper {
  display: flex;
}
.header__title {
  font-size: 10rem;
  margin-bottom: 2rem;
}
.header__title--white {
  color: #ffffff;
}
.header__title--yellow {
  color: rgb(253, 222, 53);
}
.header__subtitle {
  font-size: 7rem;
}
.header__subtitle--white {
  color: #ffffff;
}
.header__subtitle--yellow {
  color: rgb(253, 222, 53);
}

.nav__desktop {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav__itemWrapper {
  margin: 1rem;
  width: 250px;
  height: 60px;
  box-shadow: inset 8px 8px 24px 0px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.4s, box-shadow 0.4s;
}
.nav__itemWrapper:hover {
  background-color: rgb(253, 222, 53);
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.4);
}
.nav__itemWrapper:focus-within {
  outline: none;
  background-color: rgb(253, 222, 53);
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.4);
}
.nav__item {
  text-decoration: none;
  color: #0f2e0f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.nav__item:focus {
  outline: none;
}
.nav__icon {
  font-size: 2.5rem;
  text-decoration: none;
}
.nav__text {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.about {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__item {
  margin: 4rem;
  width: 300px;
  height: 500px;
  border-right: 2px solid #d3d2da;
  border-bottom: 2px solid #d3d2da;
}
.card__item--top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__item--top--one {
  background-color: #0f2e0f;
}
.card__item--top--two {
  background-color: #0f2e0f;
}
.card__item--top--three {
  background-color: #0f2e0f;
}
.card__item--top--four {
  background-color: #0f2e0f;
}
.card__item--icon {
  font-size: 10rem;
  color: rgb(253, 222, 53);
}
.card__item--bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.card__item--title {
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #0f2e0f;
}
.card__item--button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(34, 28, 70);
  width: 150px;
  height: 50px;
  border: 3px solid #0f2e0f;
  background-color: rgb(253, 222, 53);
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.4s, border 0.4s, box-shadow 0.4s, color 0.4s;
}
.card__item--button:hover {
  background-color: #0f2e0f;
  border: 3px solid rgb(253, 222, 53);
  color: #ffffff;
  box-shadow: 8px 8px 8px 5px rgb(211, 210, 218);
}
.card__item--button:focus {
  outline: none;
  background-color: rgb(34, 28, 70);
  border: 3px solid rgb(253, 222, 53);
  color: #ffffff;
  box-shadow: 8px 8px 8px 5px rgb(211, 210, 218);
}

.search {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(253, 222, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search__wrapper {
  position: relative;
}
.search__button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #0f2e0f;
  opacity: 0.5;
}
.search__button:focus {
  outline: none;
  opacity: 1;
}
.search__input {
  width: 60vw; /* Adjust as needed */
  padding: 2rem;
  height: 100px;
  font-size: 3rem;
  border: none;
  border-bottom: 1px solid #0f2e0f;
  outline: none;
  font-family: inherit;
  background: linear-gradient(to right, #fdeec1 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
}
.search__input:focus {
  background-position: 0 0;
}
.search__iconsWrapper {
  position: absolute;
  bottom: 0;
  display: flex;
}
.search__iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  margin-bottom: 10rem;
  color: #0f2e0f;
  font-size: 3rem;
}
.search__number {
  font-size: 5rem;
  font-weight: bold;
}
.search__text {
  margin-top: 2rem;
  text-transform: uppercase;
}

.contact {
  width: 100vw;
  height: 100vh;
  background-color: #0f2e0f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__left {
  margin-left: 10rem;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact__right {
  height: 60%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact__input {
  width: 600px;
  margin: 3rem;
  padding: 2rem;
  height: 60px;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  outline: none;
  font-family: inherit;
  background: linear-gradient(to right, #ffffff 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
}
.contact__input:focus {
  background-position: 0 0;
  color: #0f2e0f;
}
.contact__textarea {
  position: relative;
  resize: none;
  overflow: hidden;
  width: 600px;
  height: 300px;
  margin: 3rem;
  padding: 2rem;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  outline: none;
  font-family: inherit;
  background: linear-gradient(to right, #ffffff 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
}
.contact__textarea:focus {
  background-position: 0 0;
  color: #0f2e0f;
}
.contact__textarea:focus::-moz-placeholder {
  color: transparent;
}
.contact__textarea:focus::placeholder {
  color: transparent;
}
.contact__textarea::-moz-placeholder {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 2rem;
}
.contact__textarea::placeholder {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 2rem;
}
.contact__button {
  align-items: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f2e0f;
  width: 600px;
  height: 60px;
  border: 3px solid #000000;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.4s, border 0.4s, box-shadow 0.4s;
}
.contact__button:hover {
  background-color: rgb(253, 222, 53);
  color: #0f2e0f;
  border: 3px solid #0f2e0f;
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.contact__button:focus {
  outline: none;
  background-color: rgb(253, 222, 53);
  color: #0f2e0f;
  border: 3px solid #0f2e0f;
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.contact__iconWrapper {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 8px 8px 24px 0px rgba(0, 0, 0, 0.5);
  margin: 4rem;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;
}
.contact__iconWrapper:hover {
  background-color: rgb(253, 222, 53);
  color: #0f2e0f;
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.contact__iconWrapper:focus {
  outline: none;
  background-color: rgb(253, 222, 53);
  color: #0f2e0f;
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.contact__icon {
  font-size: 10rem;
  color: #0f2e0f;
}
.contact__link {
  text-decoration: none;
}

.footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d2da;
}
.footer__item {
  color: rgb(34, 28, 70);
  font-size: 2rem;
  display: flex;
  padding: 3rem;
}
.footer__name {
  margin-right: 1rem;
  text-transform: uppercase;
  color: #0f2e0f;
  font-weight: bold;
}
.footer__link {
  text-transform: uppercase;
  color: rgb(34, 28, 70);
  text-decoration: none;
  position: relative;
}
.footer__link::after {
  position: absolute;
  content: "";
  border: 1px solid transparent;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
}
.footer__link:hover::after {
  border: 1px solid rgb(34, 28, 70);
  animation-name: widthAnimation;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes widthAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
dialog {
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  overflow: hidden;
}

.login__modal {
  width: 750px;
  height: 600px;
  border: none;
  background-color: rgb(253, 222, 53);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.login__closeWrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem;
  font-size: 5rem;
  color: #0f2e0f;
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.4s, opacity 0.4s;
}
.login__closeWrapper:hover {
  transform: rotate(180deg);
  opacity: 1;
}
.login__inputsWrapper {
  margin-top: 5rem;
}
.login__input {
  width: 400px;
  margin: 3rem;
  padding: 2rem;
  height: 60px;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid #0f2e0f;
  color: #0f2e0f;
  outline: none;
  font-family: inherit;
  background: linear-gradient(to right, #0f2e0f 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
}
.login__input:focus {
  background-position: 0 0;
  color: #ffffff;
}
.login__checkboxWrapper {
  margin: 3rem;
  margin-top: 1rem;
  display: flex;
  width: 400px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.login__checkboxWrapper--two {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__reset {
  display: inline;
  text-decoration: none;
  font-size: 2rem;
  color: #0f2e0f;
  text-decoration: underline;
  font-weight: bold;
  opacity: 0.8;
}
.login__reset:focus {
  outline: none;
  opacity: 1;
}
.login__buttonsWrapper {
  margin: 3rem;
  margin-top: 1rem;
}
.login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(34, 28, 70);
  width: 150px;
  height: 50px;
  border: 3px solid #0f2e0f;
  background-color: rgb(253, 222, 53);
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.4s, border 0.4s, box-shadow 0.4s, color 0.4s;
}
.login__button--link {
  text-decoration: none;
}
.login__button:hover {
  background-color: #0f2e0f;
  border: 3px solid rgb(253, 222, 53);
  color: #ffffff;
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.4);
}
.login__button:focus {
  outline: none;
  background-color: #0f2e0f;
  border: 3px solid rgb(253, 222, 53);
  color: #ffffff;
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.4);
}
.login__createAccountWrapper {
  margin: 3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.login__createAccount {
  font-size: 2rem;
}
.login__register {
  display: inline;
  text-decoration: none;
  font-size: 2rem;
  color: #0f2e0f;
  text-decoration: underline;
  font-weight: bold;
  opacity: 0.8;
}
.login__register:focus {
  outline: none;
  opacity: 1;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.4);
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #0f2e0f;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #0f2e0f;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.4);
}
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.4);
}
.checkbox-container:hover input ~ .checkmark {
  background-color: #0f2e0f;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.4);
}

.browser__results {
  width: 100px;
  height: 100px;
  background-color: red;
}/*# sourceMappingURL=main.css.map */